#socment-hashtag-holder {
	margin: 0 0 20px 0;
	position: relative;
	float: left;
	font-size: 14px;
}

#socment-hashtag-header {
	display: table;
	position: relative;
	width: 100%;
	clear: both;
	margin: 0 0 20px 0;
}

#socment-hashtag-userimg {
	width: 48px;
	height: 48px;
	float: left;
	position: relative;
}

#socment-hashtag-username {
	width: calc(100% - 58px);
	float: right;
	position: relative;
	display: block;
	margin: 0;
	padding: 0 10px 0 10px;
}

#socment-hashtag-content {
	clear: both;
	position: relative;
	float: left;
	margin: 0 0 20px 0;
}

#socment-hashtag-content-text {
	clear: both;
	position: relative;
	float: left;
	margin: 0 0 10px 0;
}

#socment-hashtag-img {
	clear: both;
	position: relative;
	float: left;
}

#socment-hashtag-img img {
	max-width: 100%;
	height: auto;
}

#socment-hashtag-readmore {
	float: right;
	position: relative;
}

#socment-hashtag-date {
	float: left;
	position: relative;
}

#socment-hashtag-social {
	float: right;
	position: relative;
}